html {
  --border-radius-button: 30px;
  --border-radius-progress-bar: 6px;
  --color-border-secondary: #bcd1eb;
  --color-background-secondary: #fff;
  --color-icon-primary: #d4f5fd;
  --color-text-primary: #323233;
  --color-text-inverted: #fff;
  --color-text-secondary: #5e6266;
  --color-action-primary: #00c8f5;
  --color-action-primary-hover: #00afd6;
  --color-action-secondary: #fff;
  --color-action-secondary-pressed: #e0f9ff;
  --color-action-secondary-disabled: #e1e8f0;
  --color-button-background-disabled: #f0f4f5;
  --color-input-border: #d7dfe0;
}

.Page {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 32px;
}
.Page-Image {
  width: 100%;
}
.Page-Image:before {
  content: "";
  float: left;
  height: 0;
  margin-bottom: 32px;
  margin-left: -1px;
  padding-top: calc(var(--aspect-ratio) * 100%);
  width: 1px;
}
.Page-Image:after {
  clear: both;
  content: "";
  display: table;
}
.Page-Main {
  flex: 1 1;
}
.Page-Bottom {
  margin: 10px 0 16px;
}
.Button {
  background: none;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  transition: all 0.2s;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.Button_theme_action,
.Button_theme_actionDisabled,
.Button_theme_light,
.Button_theme_lightSelected {
  border-radius: var(--border-radius-button);
}
.Button_theme_action {
  background: var(--color-action-primary);
  color: var(--color-text-inverted);
}
.Button_theme_actionDisabled {
  background: var(--color-button-background-disabled);
  color: var(--color-text-secondary);
}
.Button_theme_transparend {
  background: none;
}
.Button_theme_light {
  background: var(--color-action-secondary);
  border: 1px solid var(--color-border-secondary);
  color: var(--color-text-secondary);
}
.Button_theme_lightSelected {
  background: var(--color-action-secondary-pressed);
  border: 1px solid var(--color-action-primary);
  color: var(--color-text-secondary);
}
.Button_theme_welcome {
  background: var(--color-action-primary);
  border-radius: 52px;
  color: var(--color-text-inverted);
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  padding: 18px 33px;
}
.Button_theme_welcome:hover {
  background: var(--color-action-primary-hover);
}
.Button_size_500 {
  font-weight: 500;
  padding-left: 15px;
  padding-right: 15px;
}
.Button_size_500,
.Button_size_600 {
  font-size: 16px;
  height: 56px;
  line-height: 22px;
}
.Button_size_600 {
  font-weight: 600;
  width: 56px;
}
.Button_sizeMode_fluid {
  width: 100%;
}
.Title {
  color: var(--color-text-primary);
  font-family: Platform LC Web Bold;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin: 0;
}
.Title_textAlign_center {
  text-align: center;
}
.Title_size_700 {
  font-family: Platform LC Web Bold;
  font-size: 36px;
  line-height: 40px;
}
.Description {
  color: var(--color-text-secondary);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 16px 0 32px;
}
.Description_textAlign_center {
  text-align: center;
}
.QuestionPageSingleSelect-Variants {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.MultiSelect-Row {
  display: flex;
}
.MultiSelect-Variant {
  margin-top: 8px;
}
.MultiSelect-Variant_fluid {
  flex: 1 1;
  overflow: hidden;
}
.MultiSelect-Variant:not(last-of-type) {
  margin-right: 8px;
}
.hands {
  display: flex;
}
.hands .left-hand {
  -webkit-animation: aplauseleft 1s ease-in-out 0.5s 2 alternate;
  animation: aplauseleft 1s ease-in-out 0.5s 2 alternate;
  z-index: 1;
}
.hands .right-hand {
  -webkit-animation: aplauseright 1s ease-in-out 0.5s 2 alternate;
  animation: aplauseright 1s ease-in-out 0.5s 2 alternate;
  z-index: 0;
}
@-webkit-keyframes aplauseleft {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  to {
    -webkit-transform: translate(35px, -10px);
    transform: translate(35px, -10px);
  }
}
@keyframes aplauseleft {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  to {
    -webkit-transform: translate(35px, -10px);
    transform: translate(35px, -10px);
  }
}
@-webkit-keyframes aplauseright {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  to {
    -webkit-transform: translate(-35px, -10px);
    transform: translate(-35px, -10px);
  }
}
@keyframes aplauseright {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  to {
    -webkit-transform: translate(-35px, -10px);
    transform: translate(-35px, -10px);
  }
}
.SplashPage-image {
  width: 100%;
}
.SplashPage-icons {
  align-content: center;
  display: flex;
  justify-content: center;
  margin-left: -34px;
  margin-right: -34px;
  width: 100vw;
}
.SplashPage-icons .notBrokenSvg * {
  fill: var(--color-icon-primary);
  stroke: var(--color-action-primary);
}
.SplashPage-icons svg {
  max-height: 500px;
  max-width: 500px;
}
.SplashPage-icons svg .fill {
  fill: var(--color-icon-primary);
}
.SplashPage-icons svg .stroke {
  stroke: var(--color-action-primary);
}
.TextApi {
  margin: 0;
  padding: 0;
}
.TextApi_color_secondary {
  color: var(--color-text-secondary);
}
.TextApi_size_700 {
  font-size: 19px;
  font-weight: 700;
}
.TextApi_size_500 {
  font-size: 18px;
  font-weight: 500;
}
.TextApi_size_450 {
  font-size: 17px;
}
.TextApi_size_400 {
  font-size: 16px;
}
.TextApi_bold {
  font-weight: 700;
}
.TextApi_italic {
  font-style: italic;
}
.StartPage {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  width: 100%;
}
.StartPage-Background {
  background-image: url(./static/start-page-background.webp);
  background-position: bottom;
  background-size: cover;
  height: 50%;
  max-height: 490px;
  width: 100%;
}
.StartPage-Card {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  padding: 0 20px;
  text-align: center;
  width: 100%;
}
.StartPage-LogoContainer {
  display: flex;
  justify-content: center;
  position: relative;
  top: 16px;
  width: 100%;
  z-index: 2;
}
.StartPage-Title {
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 12px;
}
.StartPage-Description {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 32px;
}
.StartPage-Purpose,
.StartPage-Variant {
  margin-bottom: 16px;
}

.QuizPages_StaticHeader__BYEri .QuizPages_back__IQRdw {
  margin: 0 34px;
}
body,
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, SF Pro Display, SF Pro,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  margin: auto;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
  width: 100%;
  user-select: none;
}
#root,
.App {
  height: 100%;
  background: var(--color-background-secondary);
  display: flex;
  flex-direction: column;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
[hidden],
template {
  display: none;
}
/*# sourceMappingURL=main.26ee29c2.css.map*/
